<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="form">
            <div class="form-group mb-4">
              <label>Enter Name</label>
              <input
                [(ngModel)]="registerData.name"
                type="text"
                class="form-control"
                name="name"
                placeholder="Enter Name"
              />
            </div>
            <div class="form-group mb-4">
              <label>Enter Email</label>
              <input
                [(ngModel)]="registerData.email"
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter Email"
                autocomplete="off"
              />
            </div>
            <div class="form-group mb-4">
              <label>Enter Password</label>
              <input
                [(ngModel)]="registerData.password"
                type="password"
                name="password"
                class="form-control"
                placeholder="Enter Password"
              />
            </div>
            <input
              type="submit"
              class="btn btn-primary float-right"
              style="float: right"
              value="Register"
              (click)="registerUser()"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
